---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="bg-ispod-white text-ispod-jet">
		<section class="bg-gray-300 h-96 flex flex-col items-center justify-center">
			<h1>Hello, Astro!</h1>
			<p>Welcome to your new Astro site.</p>
		</section>
		<section class="h-96">
			<div class="max-w-6xl mx-auto px-4 py-8">
				<h2>Section 2</h2>
				<p>More text...</p>
			</div>
		</section>
		<section class="bg-gray-200 h-96 flex flex-col items-center justify-center">
			<div class="max-w-6xl mx-auto px-4 py-8">
				<h2>Section 3</h2>
				<p>More text...</p>
			</div>
		</section>
		<section class="h-96 flex flex-col items-center justify-center">
			<div class="max-w-6xl mx-auto px-4 py-8">
				<h2>Section 4</h2>
				<p>More text...</p>
			</div>
		</section>
	</main>
</Layout>