---
import { Icon } from 'astro-icon/components';
const currentYear = new Date().getFullYear();

const socialLinks = [
  { href: "#", label: "Instagram", iconName: "mdi:instagram" },
  { href: "#", label: "YouTube", iconName: "mdi:youtube" },
  { href: "#", label: "TikTok", iconName: "mdi:facebook" },
];

const navLinks = [
    { href: "/", text: "Home" },
    { href: "/about", text: "About Us" },
    { href: "/services", text: "Services" },
    { href: "/contact", text: "Contact" }
];
---

<footer class="text-ispod-jet dark:text-ispod-white bg-gradient-to-b from-ispod-white to-gray-200 dark:from-ispod-jet dark:to-black pt-12 pb-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center mb-8">
            
            <div class="flex justify-center md:justify-start">
                <a href="/" class="block transform hover:scale-105 transition-transform duration-300 ease-in-out">
                    <img class="h-24 sm:h-28 md:h-32 w-auto" src="/ispodNuleLogo.png" alt="IspodNule Logo">
                </a>
            </div>

            <div class="text-center md:text-right">
                <div class="flex justify-center md:justify-end space-x-4">
                    {socialLinks.map(link => (
                        <a 
                            href={link.href} 
                            aria-label={link.label} 
                            class="text-ispod-jet hover:text-ispod-blue dark:text-ispod-white dark:hover:text-ispod-yellow transform hover:scale-125 transition-all duration-300 ease-in-out"
                        >
                            <Icon name={link.iconName} size={28} />
                        </a>
                    ))}
                </div>
            </div>
        </div>

        <div class="text-center text-sm text-gray-400 pt-8">
            <p>&copy; {currentYear} IspodNule. All rights reserved.</p>
            <p class="mt-1">Crafted with <Icon name="mdi:heart" class="inline-block text-red-500" size={16} /> in Astro</p>
        </div>
    </div>
</footer>
