---
const navLinks = [
    { href: '/', text: 'Services' },
    { href: '/', text: 'Projects' },
    { href: '/', text: 'Contact' }
];

const navButtons = [
    { href: '/', text: 'Login' },
    { href: '/', text: 'Sign Up' }
];
---

<header id="site-header" class="fixed w-full px-4 sm:px-6 lg:px-8 top-0 z-50 transition-all duration-300 ease-in-out">
    <div class="flex h-25 max-w-7xl mt-4 mx-auto">
        <!-- Navigation with logo in the middle -->
        <nav class="bg-ispod-white/50 dark:bg-ispod-jet/50 backdrop-blur-sm flex items-center justify-between space-x-4 w-full border-b-2 rounded-3xl shadow my-2 px-4">
            <a href="/" class="">
                <img class="h-25 w-auto aspect-square object-contain" src="/ispodNuleLogo.png" alt="Logo">
            </a>

            <div class="flex space-x-4">
                {navLinks.map(link => (
                    <a 
                    href={link.href} 
                    class="text-ispod-jet hover:text-ispod-yellow dark:text-ispod-white dark:hover:text-ispod-blue px-3 py-2 transition duration-150 ease-in-out"
                    >
                    {link.text}
                    </a>
                ))}
            </div>

            <div class="flex space-x-4">
                {navButtons.map(button => (
                    <a 
                    href={button.href} 
                    class="text-ispod-white bg-ispod-jet hover:bg-ispod-blue px-3 py-2 rounded-lg transition duration-150 ease-in-out"
                    >
                    {button.text}
                    </a>
                ))}
            </div>
        </nav>
    </div>
</header>

<script>
    let lastScrollY = window.scrollY;
    const header = document.getElementById('site-header');
    
    // Function to handle scroll events with a small threshold
    const handleScroll = () => {
        const currentScrollY = window.scrollY;
        
        // Only react if we've scrolled at least 5px
        if (Math.abs(currentScrollY - lastScrollY) < 5) return;
        
        if (currentScrollY > lastScrollY && currentScrollY > 50) {
            // Scrolling down & past threshold
            header?.classList.add('opacity-0', '-translate-y-full');
        } else {
            // Scrolling up or at the top
            header?.classList.remove('opacity-0', '-translate-y-full');
        }
        
        lastScrollY = currentScrollY;
    };
    
    // Debounce function for better performance
    let scrollTimeout: number | undefined;
    window.addEventListener('scroll', () => {
        if (scrollTimeout) {
            window.cancelAnimationFrame(scrollTimeout);
        }
        scrollTimeout = window.requestAnimationFrame(handleScroll);
    }, { passive: true });
</script>