<div class="flex flex-wrap gap-4">
    {[1, 2, 3].map((i) => (
    <div class="bg-ispod-jet dark:bg-gray-200 text-ispod-white dark:text-ispod-jet p-4 rounded-lg shadow-md mb-4">
        <h2>Video {i}</h2>
        <p>Video description</p>
    </div>
    ))}
</div>