---
import "../styles/global.css";

import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Head />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>